/*
Theme Name: Property Management Insider
Author: RealPage 
Author URI: https://www.realpage.com/
Version: 1.0
License: © RealPage, Inc. All trademarks are the properties of their respective owners.
*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.LOGO{
	position: relative;
	right: 6px;
	top: 1px;
	height: auto;
	width: 210px;
}

/****************************/
/***   	  NAVIGATION      ***/
/****************************/



/*HAMBURGER MENU*/

.rel_container{
	position: relative;
	margin: 0;
}
.nav_ham{
	height: 58.438px;
	line-height: 58.438px;
	display: none;
}

.hamburger_icon{
	position: relative;
	box-sizing: border-box;
	height: 58.438px;
	width: 60px;
	padding: .8em 1em 1em 1em;

	cursor:pointer;
}

.hamburger_icon span{
	width: 100%;
	height: 2px;
	display: block;
	background: #3c4349;
	margin: 6px 0;
	transition: .5s;
}

.hamburger_icon:hover{
	transition: .3s;
	opacity: .8;
}

.hamburger_icon.active span{
	position: absolute;
	width: calc(100% - 2em);
	top: calc(50% - 8px);
}

.hamburger_icon.active span:nth-child(1){
	transform: rotate(45deg);
}

.hamburger_icon.active span:nth-child(2){
	display: none;
}


.hamburger_icon.active span:nth-child(3){
	transform: rotate(-45deg);
}

#toggle{
	display: none;
}

.sidebar{
	position: absolute;
	top: 59.438px;
	left: -401px;
	width: 400px;
	height: 100vh;
	background: #f0f0f0;
/*	background: #f06000;*/
	z-index: 2;
	box-sizing:border-box;
	padding: 0 0;
	color: white;
	text-transform: uppercase;
	transition: .6s;
}

ul.sidebar_menu{
	padding-left: 0;
}

.sidebar_menu li a{
	padding: 10px 40px;
	color: #3c4349;
	display: block;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: .9em;
}

.sidebar_menu li{
	list-style: none;
	border-bottom: 1px solid #858585;
	transition 2s;
}

.sidebar_menu li:hover{
	border-left: 10px solid #f06000;
	transition 2s;
}


.sidebar.active{
	left: -1px;
}

/*REGULAR NAV MENU*/
.Nav_Container{
    border: 1px solid;
    border-color: #f0f0f0;
    margin-top: 0;
	background: white;
}

.Nav_Bar{
    margin: 0;
    padding: 0;
}

.Nav_Bar li{
    list-style: none;
    text-align: center;
    float:left;
}

.Nav_Bar a{
    display:block;
    text-decoration: none !important;
    
    font-family: 'Roboto', sans-serif;
    font-size: .9em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.menu-hover-lines a {
  padding: 1.3em 0;
  color: #858585;
  position: relative;
  margin-right: 1em;
  -webkit-transition: all 0.35s ease;
  transition: all .35s ease;
  z-index: 2;
}

.anchor_slim{
	padding: 1em 0;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.45s ease;
  background-color: #f06000;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover{
  color: #3c4349;
  transition: all .35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines a:hover::after{
  width: 100%;
}

.sticky {
	position: fixed;
	
	top: 0;
	width: 100%;
	z-index: 2;
}

.sticky + .navfix{
	margin-top: 84.438px;
}


/**************************/
/***    MAIN FEATURE    ***/
/**************************/

a:hover,
img:hover{
	cursor: pointer;
}

.MFeat_Title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1.9em;
    color: #3c4349;
}

.MFeat_Title:hover{
	color: #213648;
	cursor: pointer;
}

.MFeat_Title2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1em;
	letter-spacing: 0.1px;
    color: #3c4349; !important 
}

.MFeat_Title2:hover{
	color: #213648;
	cursor: pointer;
}

.MFeat_Cat_Bar{
    float: left;
    position: absolute;
    top: 1.1em;
    z-index: 1;
    
    padding: .6em .8em;
    
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
	text-transform: uppercase;
    
    border-top: 3.75px solid rgba(241,116,34,.7);
    background-color:rgba(60,67,73,.7);
	transition: all .35s ease;
}

.MFeat_Cat_Bar:hover{
	cursor:pointer;
	color: white;
	
	border-top: 3.75px solid rgba(241,116,34,.9);
    background-color:rgba(60,67,73,.9);
	
	transition: all .35s ease;
}

.MFeat_Cat{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
    font-weight: 700;
	margin:.5em 0;
	color: #f06000;
}

.MFeat_Author{
	color: #858585;
    font-family: 'Roboto', sans-serif;
    font-size: .85em;
    font-weight: 700;
    padding: 0;

    margin-bottom: 0em;
}

.MFeat_img_container{}

.main_Item{}

.container .text-muted {
  margin: 20px 0;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	list-style: none;
/*
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
*/
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}

p font:hover,
.MFeat_Cat:hover{
	color: #DB5800
}

.MFeat_Author{
    font-family: 'Roboto', sans-serif;
    font-size: .85em;
    font-weight: 700;
    color: #858585;
    padding: 0;
    margin-bottom: 0em;
}

.read-more{
    float: right;
    color: #F55E24
}

.The_Latest{

}

.The_Category{
	padding-top: .15em;
	font-weight:200;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
    color: #3c4349;
	padding-top: .10em;
    text-align: center
}

article{
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;

}
figure img{
    width: 100%;
    height: 100%;
}


.Background{
    color: #eae3de;
}

/**************************/
/***     SUBSCRIBE      ***/
/**************************/

.sub_Container{
	background: #f0f0f0;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 2em;
}

.sub_P{
	font-family: 'Robot', sans-serif;
	font-weight: 500;
	color: #3c4349;
}
	
/**************************/
/***     MOST POP.      ***/
/**************************/

.pop_Title{
	font-family: 'Roboto', sans-serif;
	font-size: 1.875em;
	font-weight: 300;
	text-align: left;	
	border-bottom: 2px solid #F55E24;	
	padding-bottom: .2em;
	color: #3c4349;
}

.pop_Item{
	max-width: 55%;
	margin-left: 1em;
}

.pop_Row{
	border-bottom: 2px solid #f0f0f0;
}

.pop_Row:last-child{
	border: none;
}

/**************************/
/***   	  Category      ***/
/**************************/

.cat_Title{
	font-family: 'Roboto', sans-serif;
	font-size: 1.875em;
	font-weight: 300;
    width: 118px;
	text-align: left;
	border-bottom: 2px solid #F55E24;

	padding-bottom: .2em;
	
	color: #3c4349;
}
.card_horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1em;
}

.cat_Article_Title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1.5em;
	letter-spacing: 0.1px;
    color: #3c4349;
}

.card{
    border-style: none;
    border-top: 1px solid #808080;
}

/**************************/
/***   	  ARTICLES      ***/
/**************************/

.article_Container{}

.art_Item{
/*	padding-right: 2em;*/
}

/******************************/
/***   	  ARTICLES PAGE     ***/
/******************************/

.Article_Category{
    font-family: 'Roboto', sans-serif;
	font-weight: 600;
    font-size: .9em;
    color: #f06000;
	text-transform: uppercase;
	margin:0;
}

.Article_Date{
	color: #f06000;
}
.Article_Title{
    font-family: 'Work Sans', sans-serif;
	line-height: 120%;
	
	font-weight: 800;
    font-size: 2.3em;
    color: #3c4349;
}
.Article_Trending{
    
    text-align: center;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #3c4349;

}

.Article_Image{
	width: 100%;
	height: auto;
}

.Article_Author1{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
    font-size: .9em;
    color: #858585;
    text-transform: uppercase;
}

.Author_Image{
    height: 5em;
    width: 5em;
}

.Article_Content{
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 170%;
}

.Article_Author_About{
	padding: 1.7em;
	border-radius: 5px;
	background: #f0f0f0;
}

.Article_Author_About .Article_Content{
	font-size: .9em;
}
/***	SUBSCRIBE/FOOTER	***/


.sub_Foot_Par{
	font-family: 'Work Sans', sans-serif;
	border-left: 3px solid #f06000;
	padding-left: 1em;
	font-size: 1.6em;
	margin-top: 18%;
}

.sub_Foot_Group{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.sub_Foot_Title_Sec{
	font-family: 'Work Sans', sans-serif;
    color: #3c4349;
	font-size: 2em;
	font-weight: 800;
}

.sub_Foot_Input{
	display: block;
	width: 100%;
	padding-top: 1em;
	border: none;
	border-radius: 0;
	color: #3c4349;
	font-size: 1.3em;
	font-weight: 500;
	transition: .3s ease;
}

.sub_Container  .sub_Foot_Input{
	background: #f0f0f0;
}

.sub_Foot_Input:valid ~ .sub_Foot_Label{
	top: 0;
	font: 700 .9em Roboto;
	color: #f06000;
}

.sub_Foot_Input:focus{
	outline: none;
}

.sub_Foot_Input:focus ~ label{
	top: 0;
	font: 700 .9em Roboto;
	color: #858585;
}

.sub_Foot_Input:focus ~ .bar:before{
	transform: translateX(0;)
}

.sub_Foot_Label{
	position: absolute;
	top: 1em;
	left: 1.1px;
	color: #858585;
	font: 400 1.3em Roboto;
	cursor: text;
	transition: .25s ease;
}

.sub_bar{
	background-color: #858585;
	height: 1px;
	content:'';
	width: 100%;
	transition: 3s ease;
	position: relative;
	
}

.sub_Foot_Button{
	background-color: #f06000;
	color: white;
	border: none;
	padding: .9em 3em;
	border-radius: 3px;
}

/*FOOTER*/

.foot_Copyright{
	background: #3c4349;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	font-size: .75em;
	text-align: center;
	color: #9EA1A3;
	
	bottom: 0px;
	width: 100%;
}

/***	MEDIA QUEURIES	 ***/
	

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }


@media only screen and (max-width: 575){
	
}

@media only screen and (max-width: 767px){
    
	.response-center{
		margin: auto;
		width: 50%;
		margin-bottom: .7em;
	}
	
	#Popular .container{
		border-top: 1px solid #f0f0f0;
		padding-top: 1em;
		margin-top: 1em;
	}
	
	.sub_Title{
		padding-top: 30px;
		font-family: 'Roboto', sans-serif;
		font-size: 1.3em;
		font-weight: 300;
		color: white;
		letter-spacing: 1px;
	}
	
	.sub_Foot_Par{
		display:none;
	}
	
	.sub_button{
		margin-bottom: 30px;
	}
	
	.sub_Foot_Button{
		width: 100%;
	}
	
    .MFeat_Title{
        font-size: 1.275em;
    }
    
    .MFeat_Title2{
        font-size: 1em;
    }
    

    .MFeat_img_container{
        float: left;
        max-width: 40%;
        margin-right: 1em;
    }
    
    .MFeat_P{
        display: none;
    }
    	
	
}

@media only screen and (max-width: 991px) {
	.sub_Foot_Par{
		font-size: 1.375em;
	}
}

@media only screen and (max-width: 1199px) {

	.pop_Item{
		max-width: 100%;
		margin-left: 0em;
	}
	
	#Popular img{
		display: none;
	}
	
	.menu-hover-lines a{
		display: none;
	}
	
	.nav_ham{
		display: block;
	}
	
}


